//Variables 

// Colores
$primary-color: #FFFFFF;
$dark-color: black;
$secondary-color: #FF4655;
$tertiary-color: #2C2F35;

//Fuentes
$font-principal: "Anton", sans-serif;
$font-secundaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
$font-terciaria: "Roboto", sans-serif;