/* Variables */

//Colores
$color-blanco: #FFFFFF;

//Fuentes
$font-principal: "Anton", sans-serif;
$font-lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;