//Link variables
@import "../utilities/variables";

/* CALENDARIO */

#CALENDARIO {
    display: flex;
    flex-direction: column;

    h1 {
        font-family: $font-principal;
        font-weight: bold;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 50px;
        margin-right: 55px;
        border-bottom: #40474F solid 2px;
    }

    .VCTLIST {
        font-size: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        button {
            background-color: #090E13;
            color: #535C65;
            font-family: $font-secundaria;
            font-weight: bold;
            padding: 12px 24px;
            border-inline: #273237 1px solid;
            border-bottom: #273237 1px solid;
            cursor: pointer;
            filter: grayscale(45%);

            &:hover {
                background: rgb(9, 14, 19);
                background: linear-gradient(180deg, rgba(9, 14, 19, 1) 0%, rgba(0, 0, 0, 1) 60%);
                color: $primary-color;
                filter: grayscale(0%);
            }

            .img-vct {
                width: 48px;
                height: auto;
            }
        }

        em {
            color: #535C65;
        }
    }

    .match-date {
        color: #D13539;
        font-family: $font-secundaria;
    }

    .match-item {
        color: $primary-color;
        font-family: $font-secundaria;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 0 20px;
    }

    .item-color {
        background-color: #40474F;
        padding: 15px;
        border-bottom: 1px solid #535C65;
    }

    .margin-dates {
        margin-top: 20px;
    }

    .margin-items {
        margin-top: 5px;
    }

    .completed-match {
        background-color: #888888;
        border-radius: 3px;
        padding: 4px;
    }

    .completed-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .match-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .match {
        align-items: center;
    }
}