//Link variables
@import "../utilities/variables";

/* Campeones */

.Campeones-do-mundo {

    h1 {
        font-family: $font-principal;
        font-weight: bold;
        color: $primary-color;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 32px;
        border-bottom: #40474F solid 2px;
        display: flex;
        align-items: center;
    }

    #CHAMPIONS {
        margin-bottom: 20px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: $primary-color;
        text-align: center;
        padding: 25px;
        background: rgb(152, 135, 78);
        background: linear-gradient(90deg, rgba(152, 135, 78, 1) 10%, rgba(134, 113, 54, 1) 60%);

        /* Shadow */
        box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.69);
        -webkit-box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.69);
        -moz-box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.69);
    }

    .campeones {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        p {
            font-family: $font-terciaria;
            color: $primary-color;
        }

        .campeon-item {
            width: 300px;
            margin-right: 130px;
            margin-bottom: 70px;
            margin-left: 70px;
            text-align: center;
            justify-content: center;

            p {
                font-size: 14px;
                line-height: 1.5;
                text-align: justify;
                padding: 10px;
            }

            a {
                color: #51a1e8;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .campeon-photo {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                    max-width: 150%;
                    /* la imagen no se estira más de su tamaño original */
                    max-height: 1000px;
                    /* altura máxima para q no se exceda el tamaño */
                    width: 130%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    /* SHADOW */
                    box-shadow: 1px 6px 25px 0px rgba(0, 0, 0, 0.85);
                    -webkit-box-shadow: 1px 6px 25px 0px rgba(0, 0, 0, 0.85);
                    -moz-box-shadow: 1px 6px 25px 0px rgba(0, 0, 0, 0.85);
                }
            }
        }
    }

    #masters {
        @extend #CHAMPIONS;
        background: rgb(89, 53, 168) !important;
        background: linear-gradient(90deg, rgba(89, 53, 168, 1) 10%, rgba(24, 11, 57, 1) 68%) !important;
    }

    .campeones-masters {
        @extend .campeones
    }
}