//Link variables
@import "../utilities/variables";

/* CONTACTO */

#contactos {
    h1 {
        font-family: $font-principal;
        font-weight: bold;
        color: $color-blanco;
        border-bottom: #40474F solid 2px;
    }

    #contacto {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;

        .contacto-item {
            margin: 20px 0;
            padding: 15px;
            border: 1px solid #40474F;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;

            h2 {
                font-family: $font-principal;
                color: $color-blanco;
            }

            a {
                text-decoration: none;
                color: $color-blanco;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                /* Permite que los elementos se ajusten en varias líneas si es necesario */
                .icono {
                    width: 40px;
                    height: 40px;
                    margin-right: 5px;
                }
            }
        }

        a:hover {
            text-decoration: underline;
        }
    }
}