//Link variables
@import "../utilities/variables";

/* INDEX */

.Inicio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1400px;

    .title {
        font-family: $font-principal;
        font-weight: bold;
        color: $primary-color;
    }

    h2 {
        font-family: $font-principal;
        color: $primary-color;
    }

    #fechas {
        margin-bottom: 20px;
        margin-top: 50px;

        img {
            width: 30px;
            display: inline;
            margin-bottom: 10px;
        }

        ol {
            list-style-type: none;
            font-size: large;
            display: flex;
            color: grey;
            flex-direction: column;

            .concurrent {
                background: linear-gradient(90deg, rgba(220, 48, 48, .2) 49.5%,
                        color-mix(in srgb, #ff4655 1%, transparent) 100%);
                border-left: 2px solid #ff4655;
                padding: 5px;
            }

            .actual {
                color: #F24250;
            }
        }

        #title-fechas strong {
            color: #D74646;
            display: inline;
        }
    }

    .vct {

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-left: 500px;
        max-width: 100%;
        height: auto;
    }

    .vct-mobile {

        iframe {
            width: 100%;
            height: calc(100vw * (9/16));
            /* Mantiene la proporción 16:9 */
        }

        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;

    }
}