//Link variables
@import "../utilities/variables";

/*PLAYERS*/

.Jugadores-destacados {
    text-align: left;
    margin-bottom: 20px;
    background-color: #2F3337;
    padding: 15px;

    /* Shadow */
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.25);

    h1 {
        font-family: $font-principal;
        font-weight: bold;
        color: $primary-color;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 32px;
        border-bottom: #40474F solid 2px;
    }

    .Player-item {
        background-color: #40474F;
        padding: 15px;
        border-bottom: 1px solid #535C65;

        /* Shadow */
        box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.15);

        a {
            text-decoration: none;
            color: $primary-color;
        }

        em {
            color: grey;
        }

        .imageplayers {
            width: 100%;
            height: auto;
            max-width: 150%;
            /* la imagen no se estira más de su tamaño original */
            max-height: 1000px;
            /* altura máxima para q no se exceda el tamaño */
            width: 35px;
        }
    }
}