//Link variables
@import "../utilities/variables";

/*JUGADORES STYLE*/

.main-container {
    display: flex;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .titleplayer {
        font-family: "Open Sans", sans-serif;
        color: rgb(197, 1, 1);
        border-bottom: #DFDEE0 solid 2px;
    }

    .Overview {
        font-family: $font-lucida;
        color: $color-blanco;

        h2 {
            margin-top: 15px;
            font-weight: bold;
        }

        .texto-uno {
            font-family: "Roboto", sans-serif;
            margin-bottom: 10px;
            margin-top: 5px;
        }
    }

    .Settings {
        font-family: "Roboto", sans-serif;
        color: $color-blanco;

        .config {
            list-style-type: none;
        }
    }

    .Personal {
        @extend .Redes;
        display: flex;
        align-items: center;
        flex-direction: column;

        h3 {
            color: $color-blanco;
            padding: 5px;
            font-weight: bold;
            text-align: center;
        }

        img {
            width: 300px;
        }

        ul {
            list-style-type: none;
            color: $color-blanco;
        }
    }

    .Redes {
        list-style-type: none;
        font-family: "Roboto", sans-serif;
        color: $color-blanco;

        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            color: brown;
        }

        .links-list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px;
            list-style-type: none;

            li {
                border: #111111 solid 2px;
                margin: 2px;
                background-color: #D6CECF;
            }

            #vlr img {
                width: 48px;
            }
        }

    }
}