//Link variables
@import "../utilities/variables";

/* VCT REGIONES */


.container-vct {
    flex: 1;
    padding: 20px;
    height: 100vh;
    margin: 0;


    .vct-fullscreen {
        width: 100%;
        height: auto;
    }

    .vct-mobile {
        width: 100%;
        height: auto;
    }


    .title-vct {
        background-color: black;
        display: block;
        align-items: center;
        justify-content: center;
        border: #DC2F2F solid 1px;
        font-family: $font-principal;
        font-weight: bold;
        color: $primary-color;

        .icon-vct {
            width: 45px;
            height: auto;
            margin: 5px;
        }
    }
}