//Link variables
@import "../utilities/variables";

/* VCT REGIONES */

.vct-fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 500px;
    max-width: 100%;
    height: auto;

    img {
        margin-bottom: 15px;
        width: 100%;
        margin-right: 500px;
    }
}

.vct-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    max-width: 150%;
    height: auto;

    img {
        width: 105%;
        margin-right: 80px;
        margin-bottom: 5px;
    }
}

.title-vct {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #5ABBD3 solid 1px;
    font-family: $font-principal;
    font-weight: bold;
    color: $color-blanco;
}