@mixin boton-inicio-sesion {
    background: rgb(233, 63, 63);
    background: linear-gradient(90deg, rgba(233, 63, 63, 1) 10%, rgba(212, 42, 47, 1) 68%);
    border-radius: 12px;
    color: #111111;
    text-decoration: none;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}